{% extends 'base.html' %}
{% load static %}
{% block body %}
                            <div class="nk-content-body">
                                <div class="nk-content-wrap">
                                    <div class="nk-block-head nk-block-head-sm">
                                        <div class="nk-block-between">
                                            <div class="nk-block-head-content">
                                                <h3 class="nk-block-title page-title">Products</h3>
                                                <div class="nk-block-des text-soft">
                                                    <p>You have total <span class="text-base">9</span> products.</p>
                                                </div>
                                            </div><!-- .nk-block-head-content -->
                                            <div class="nk-block-head-content">
                                                <div class="toggle-wrap nk-block-tools-toggle">
                                                    <a href="#" class="btn btn-icon btn-trigger toggle-expand mr-n1" data-target="pageMenu"><em class="icon ni ni-more-v"></em></a>
                                                    <div class="toggle-expand-content" data-content="pageMenu">
                                                        <ul class="nk-block-tools g-3">
                                                            <li>
                                                                <div class="form-control-wrap">
                                                                    <div class="form-icon form-icon-right">
                                                                        <em class="icon ni ni-search"></em>
                                                                    </div>
                                                                    <input type="text" class="form-control" id="default-04" placeholder="Quick search by id">
                                                                </div>
                                                            </li>
                                                            <li>
                                                                <div class="drodown">
                                                                    <a href="#" class="dropdown-toggle dropdown-indicator btn btn-outline-light btn-white" data-toggle="dropdown">Status</a>
                                                                    <div class="dropdown-menu dropdown-menu-right">
                                                                        <ul class="link-list-opt no-bdr">
                                                                            <li><a href="#"><span>New Items</span></a></li>
                                                                            <li><a href="#"><span>Featured</span></a></li>
                                                                            <li><a href="#"><span>Out of Stock</span></a></li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                            <li class="nk-block-tools-opt">
                                                                <a href="#" data-target="addProduct" class="toggle btn btn-icon btn-primary d-md-none"><em class="icon ni ni-plus"></em></a>
                                                                <a href="#" data-target="addProduct" class="toggle btn btn-primary d-none d-md-inline-flex"><em class="icon ni ni-plus"></em><span>Add Product</span></a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div><!-- .nk-block-head-content -->
                                        </div><!-- .nk-block-between -->
                                    </div><!-- .nk-block-head -->
                                    <div class="nk-block">
                                        <div class="row g-gs">
                                            <div class="col-lg-4 col-sm-6">
                                                <div class="card card-bordered product-card">
                                                    <div class="product-thumb">
                                                        <a href="{% url 'detail-page' %}">
                                                            <img class="card-img-top" src="{% static 'menukopi/Picture1.jpg' %}" alt="">
                                                        </a>
                                                        <ul class="product-badges">
                                                            <li><span class="badge badge-success">New</span></li>
                                                        </ul>
                                                        <ul class="product-actions">
                                                            <li><a href="#"><em class="icon ni ni-cart"></em></a></li>
                                                            <li><a href="#"><em class="icon ni ni-heart"></em></a></li>
                                                        </ul>
                                                    </div>
                                                    <div class="card-inner text-center">
                                                        <ul class="product-tags">
                                                            <li><a href="#">Minuman espresso yang dicampur dengan air. Bisa dibuat panas atau dingin</a></li>
                                                        </ul>
                                                        <h5 class="product-title"><a href="html/product-details.html">Kopi Americano</a></h5>
                                                        <div class="product-price text-primary h5"><small class="text-muted del fs-13px">Rp15.000</small> Rp10.000</div>
                                                    </div>
                                                </div>
                                            </div><!-- .col -->
                                            <div class="col-lg-4 col-sm-6">
                                                <div class="card card-bordered product-card">
                                                    <div class="product-thumb">
                                                        <a href="{% url 'detail-page' %}">
                                                            <img class="card-img-top" src="{% static 'menukopi/Picture2.jpg' %}" alt="">
                                                        </a>
                                                        <ul class="product-actions">
                                                            <li><a href="#"><em class="icon ni ni-cart"></em></a></li>
                                                            <li><a href="#"><em class="icon ni ni-heart"></em></a></li>
                                                        </ul>
                                                    </div>
                                                    <div class="card-inner text-center">
                                                        <ul class="product-tags">
                                                            <li><a href="#">Minuman kopi yang terdiri atas espresso dan tambahan susu cair serta busa di atasnya. Bisa dibuat dingin atau panas</a></li>
                                                        </ul>
                                                        <h5 class="product-title"><a href="html/product-details.html">Cappuccino</a></h5>
                                                        <div class="product-price text-primary h5"><small class="text-muted del fs-13px">Rp15.000</small> Rp10.000</div>
                                                    </div>
                                                </div>
                                            </div><!-- .col -->
                                            <div class="col-lg-4 col-sm-6">
                                                <div class="card card-bordered product-card">
                                                    <div class="product-thumb">
                                                        <a href="{% url 'detail-page' %}">
                                                            <img class="card-img-top" src="{% static 'menukopi/Picture3.jpg' %}" alt="">
                                                        </a>
                                                        <ul class="product-badges">
                                                            <li><span class="badge badge-danger">Hot</span></li>
                                                        </ul>
                                                        <ul class="product-actions">
                                                            <li><a href="#"><em class="icon ni ni-cart"></em></a></li>
                                                            <li><a href="#"><em class="icon ni ni-heart"></em></a></li>
                                                        </ul>
                                                    </div>
                                                    <div class="card-inner text-center">
                                                        <ul class="product-tags">
                                                            <li><a href="#">Kopi yang diseduh dengan dripper vietnam dan disajikan bersama susu/krimer kental manis</a></li>
                                                        </ul>
                                                        <h5 class="product-title"><a href="html/product-details.html">Vietnam drip</a></h5>
                                                        <div class="product-price text-primary h5"><small class="text-muted del fs-13px">Rp15.000</small> Rp10.000</div>
                                                    </div>
                                                </div>
                                            </div><!-- .col -->
                                            <div class="col-lg-4 col-sm-6">
                                                <div class="card card-bordered product-card">
                                                    <div class="product-thumb">
                                                        <a href="{% url 'detail-page' %}">
                                                            <img class="card-img-top" src="{% static 'menukopi/Picture4.jpg' %}" alt="">
                                                        </a>
                                                        <ul class="product-actions">
                                                            <li><a href="#"><em class="icon ni ni-cart"></em></a></li>
                                                            <li><a href="#"><em class="icon ni ni-heart"></em></a></li>
                                                        </ul>
                                                    </div>
                                                    <div class="card-inner text-center">
                                                        <ul class="product-tags">
                                                            <li><a href="#">Minuman yang terbuat dari campuran teh hitam, adas manis, kapulaga, gula, bunga jeruk, dan susu</a></li>
                                                        </ul>
                                                        <h5 class="product-title"><a href="html/product-details.html">Thai tea</a></h5>
                                                        <div class="product-price text-primary h5"><small class="text-muted del fs-13px">Rp15.000</small> Rp10.000</div>
                                                    </div>
                                                </div>
                                            </div><!-- .col -->
                                            <div class="col-lg-4 col-sm-6">
                                                <div class="card card-bordered product-card">
                                                    <div class="product-thumb">
                                                        <a href="{% url 'detail-page' %}">
                                                            <img class="card-img-top" src="{% static 'menukopi/Picture5.jpg' %}" alt="">
                                                        </a>
                                                        <ul class="product-actions">
                                                            <li><a href="#"><em class="icon ni ni-cart"></em></a></li>
                                                            <li><a href="#"><em class="icon ni ni-heart"></em></a></li>
                                                        </ul>
                                                    </div>
                                                    <div class="card-inner text-center">
                                                        <ul class="product-tags">
                                                            <li><a href="#">Minuman yang terbuat dari campuran teh hitam, adas manis, kapulaga, gula, bunga jeruk, dan susu</a></li>
                                                        </ul>
                                                        <h5 class="product-title"><a href="html/product-details.html">Thai green tea</a></h5>
                                                        <div class="product-price text-primary h5"><small class="text-muted del fs-13px">Rp15.000</small> Rp10.000</div>
                                                    </div>
                                                </div>
                                            </div><!-- .col -->
                                            <div class="col-lg-4 col-sm-6">
                                                <div class="card card-bordered product-card">
                                                    <div class="product-thumb">
                                                        <a href="html/product-details.html">
                                                            <img class="card-img-top" src="{% static 'menukopi/Picture6.jpg' %}" alt="">
                                                        </a>
                                                        <ul class="product-actions">
                                                            <li><a href="#"><em class="icon ni ni-cart"></em></a></li>
                                                            <li><a href="#"><em class="icon ni ni-heart"></em></a></li>
                                                        </ul>
                                                    </div>
                                                    <div class="card-inner text-center">
                                                        <ul class="product-tags">
                                                            <li><a href="#">Sajian es krim dalam cangkir atau mangkuk kecil yang disiram dengan espresso</a></li>
                                                        </ul>
                                                        <h5 class="product-title"><a href="html/product-details.html">Affogato</a></h5>
                                                        <div class="product-price text-primary h5"><small class="text-muted del fs-13px">Rp15.000</small> Rp10.000</div>
                                                    </div>
                                                </div>
                                            </div><!-- .col -->
                                            <div class="col-lg-4 col-sm-6">
                                                <div class="card card-bordered product-card">
                                                    <div class="product-thumb">
                                                        <a href="html/product-details.html">
                                                            <img class="card-img-top" src="{% static 'menukopi/Picture7.jpg' %}" alt="">
                                                        </a>
                                                        <ul class="product-actions">
                                                            <li><a href="#"><em class="icon ni ni-cart"></em></a></li>
                                                            <li><a href="#"><em class="icon ni ni-heart"></em></a></li>
                                                        </ul>
                                                    </div>
                                                    <div class="card-inner text-center">
                                                        <ul class="product-tags">
                                                            <li><a href="#">Racikan kopi yang mengandung susu dan gula aren</a></li>
                                                        </ul>
                                                        <h5 class="product-title"><a href="html/product-details.html">Kopi susu</a></h5>
                                                        <div class="product-price text-primary h5"><small class="text-muted del fs-13px">Rp15.000</small> Rp10.000</div>
                                                    </div>
                                                </div>
                                            </div><!-- .col -->
                                            <div class="col-lg-4 col-sm-6">
                                                <div class="card card-bordered product-card">
                                                    <div class="product-thumb">
                                                        <a href="html/product-details.html">
                                                            <img class="card-img-top" src="{% static 'menukopi/Picture8.jpg' %}" alt="">
                                                        </a>
                                                        <ul class="product-badges">
                                                            <li><span class="badge badge-danger">Hot</span></li>
                                                        </ul>
                                                        <ul class="product-actions">
                                                            <li><a href="#"><em class="icon ni ni-cart"></em></a></li>
                                                            <li><a href="#"><em class="icon ni ni-heart"></em></a></li>
                                                        </ul>
                                                    </div>
                                                    <div class="card-inner text-center">
                                                        <ul class="product-tags">
                                                            <li><a href="#">Espreso adalah jenis kopi yang diseduh dengan menggunakan mesin khusus bernama mesin espresso</a></li>
                                                        </ul>
                                                        <h5 class="product-title"><a href="html/product-details.html">Espresso</a></h5>
                                                        <div class="product-price text-primary h5"><small class="text-muted del fs-13px">Rp15.000</small> Rp10.000</div>
                                                    </div>
                                                </div>
                                            </div><!-- .col -->
                                            <div class="col-lg-4 col-sm-6">
                                                <div class="card card-bordered product-card">
                                                    <div class="product-thumb">
                                                        <a href="html/product-details.html">
                                                            <img class="card-img-top" src="{% static 'menukopi/Picture9.jpg' %}" alt="">
                                                        </a>
                                                        <ul class="product-badges">
                                                            <li><span class="badge badge-danger">Hot</span></li>
                                                        </ul>
                                                        <ul class="product-actions">
                                                            <li><a href="#"><em class="icon ni ni-cart"></em></a></li>
                                                            <li><a href="#"><em class="icon ni ni-heart"></em></a></li>
                                                        </ul>
                                                    </div>
                                                    <div class="card-inner text-center">
                                                        <ul class="product-tags">
                                                            <li><a href="#">Campuran double shot dark-roasted yang dipadukan dengan espresso roast dan sauce dolce yang diracik secara khusus. Bisa dibuat panas atau dingin</a></li>
                                                        </ul>
                                                        <h5 class="product-title"><a href="html/product-details.html">Dolce latte</a></h5>
                                                        <div class="product-price text-primary h5"><small class="text-muted del fs-13px">Rp15.000</small> Rp10.000</div>
                                                    </div>
                                                </div>
                                            </div><!-- .col -->
                                        </div>
                                    </div><!-- .nk-block -->
                                    <div class="nk-add-product toggle-slide toggle-slide-right" data-content="addProduct" data-toggle-screen="any" data-toggle-overlay="true" data-toggle-body="true" data-simplebar>
                                        <div class="nk-block-head">
                                            <div class="nk-block-head-content">
                                                <h5 class="nk-block-title">New Product</h5>
                                                <div class="nk-block-des">
                                                    <p>Add information and add new product.</p>
                                                </div>
                                            </div>
                                        </div><!-- .nk-block-head -->
                                        <div class="nk-block">
                                            <div class="row g-3">
                                                <div class="col-12">
                                                    <div class="form-group">
                                                        <label class="form-label" for="product-title">Product Title</label>
                                                        <div class="form-control-wrap">
                                                            <input type="text" class="form-control" id="product-title">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="form-label" for="regular-price">Regular Price</label>
                                                        <div class="form-control-wrap">
                                                            <input type="text" class="form-control" id="regular-price">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="form-label" for="sale-price">Sale Price</label>
                                                        <div class="form-control-wrap">
                                                            <input type="text" class="form-control" id="sale-price">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="form-label" for="stock">Stock</label>
                                                        <div class="form-control-wrap">
                                                            <input type="text" class="form-control" id="stock">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="form-label" for="SKU">SKU</label>
                                                        <div class="form-control-wrap">
                                                            <input type="text" class="form-control" id="SKU">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12">
                                                    <div class="form-group">
                                                        <label class="form-label" for="category">Category</label>
                                                        <div class="form-control-wrap">
                                                            <input type="text" class="form-control" id="category">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12">
                                                    <div class="form-group">
                                                        <label class="form-label" for="tags">Tags</label>
                                                        <div class="form-control-wrap">
                                                            <input type="text" class="form-control" id="tags">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12">
                                                    <div class="upload-zone small bg-lighter my-2">
                                                        <div class="dz-message">
                                                            <span class="dz-message-text">Drag and drop file</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12">
                                                    <button class="btn btn-primary"><em class="icon ni ni-plus"></em><span>Add New</span></button>
                                                </div>
                                            </div>
                                        </div><!-- .nk-block -->
                                    </div>
                                </div>
                            </div>
{% endblock body %}